<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.ServerEncoderMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.ServerEncoder">
    <!--@mbg.generated-->
    <result column="server_id" jdbcType="CHAR" property="serverId" />
    <result column="encoder_id" jdbcType="CHAR" property="encoderId" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.domain.ServerEncoder">
    <!--@mbg.generated-->
    insert into server_encoder (server_id, encoder_id)
    values (#{serverId,jdbcType=CHAR}, #{encoderId,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.ServerEncoder">
    <!--@mbg.generated-->
    insert into server_encoder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serverId != null">
        server_id,
      </if>
      <if test="encoderId != null">
        encoder_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serverId != null">
        #{serverId,jdbcType=CHAR},
      </if>
      <if test="encoderId != null">
        #{encoderId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
</mapper>