<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.ServerMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.Server">
    <!--@mbg.generated-->
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="ip" jdbcType="CHAR" property="ip" />
    <result column="port" jdbcType="SMALLINT" property="port" />
    <result column="username" jdbcType="CHAR" property="username" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="max_connection" jdbcType="INTEGER" property="maxConnection" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="BOOLEAN" property="status" />
    <result column="prohibited_status" jdbcType="INTEGER" property="prohibitedStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `type`, ip, port, username, `password`, max_connection, address, description, 
    `status`, prohibited_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from server
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from server
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.xq.domain.Server">
    <!--@mbg.generated-->
    insert into server (id, `name`, `type`, ip, 
      port, username, `password`, 
      max_connection, address, description, 
      `status`, prohibited_status)
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{type,jdbcType=INTEGER}, #{ip,jdbcType=CHAR}, 
      #{port,jdbcType=SMALLINT}, #{username,jdbcType=CHAR}, #{password,jdbcType=CHAR}, 
      #{maxConnection,jdbcType=INTEGER}, #{address,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=BOOLEAN}, #{prohibitedStatus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.Server">
    <!--@mbg.generated-->
    insert into server
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="port != null">
        port,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="maxConnection != null">
        max_connection,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="prohibitedStatus != null">
        prohibited_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=CHAR},
      </if>
      <if test="port != null">
        #{port,jdbcType=SMALLINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=CHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="maxConnection != null">
        #{maxConnection,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BOOLEAN},
      </if>
      <if test="prohibitedStatus != null">
        #{prohibitedStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.domain.Server">
    <!--@mbg.generated-->
    update server
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=CHAR},
      </if>
      <if test="port != null">
        port = #{port,jdbcType=SMALLINT},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=CHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=CHAR},
      </if>
      <if test="maxConnection != null">
        max_connection = #{maxConnection,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=BOOLEAN},
      </if>
      <if test="prohibitedStatus != null">
        prohibited_status = #{prohibitedStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.domain.Server">
    <!--@mbg.generated-->
    update server
    set `name` = #{name,jdbcType=CHAR},
      `type` = #{type,jdbcType=INTEGER},
      ip = #{ip,jdbcType=CHAR},
      port = #{port,jdbcType=SMALLINT},
      username = #{username,jdbcType=CHAR},
      `password` = #{password,jdbcType=CHAR},
      max_connection = #{maxConnection,jdbcType=INTEGER},
      address = #{address,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=BOOLEAN},
      prohibited_status = #{prohibitedStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=CHAR}
  </update>

  <select id="findAllServer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from
    server
  </select>
</mapper>