<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="browsermode" content="application">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>铁路综合运维系统</title>
    <meta name="keywords" content="铁路综合运维系统" />
    <meta name="description" content="铁路综合运维系统" />
    <link rel="stylesheet" type="text/css" href="../static/index/css/common.css">
    <script type="text/javascript" src="../static/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../static/index/js/echarts.js"></script>
    <script src="../static/index/js/highcharts.js"></script>
    <script src="../static/index/js/highcharts-3d.js"></script>
    <script src="../static/index/js/exporting.js"></script>
    <script src="../static/index/js/oldie.js"></script>
    <script src="../static/index/js/cylinder.js"></script>
    <script type="text/javascript" src="../static/index/js/jquery.SuperSlide.2.1.3.js"></script>
    <script type="text/javascript" src="../static/index/js/index.js"></script>
    <script type="text/javascript" src="../static/js/lib/axios.js"></script>
</head>

<body>
    <div class="title">
        铁路综合运维系统
    </div>
    <div class="wrap clearfix">
        <div class="content content-left">
            <div class="left-top">
                <div class="content-title">
                    重要告警
                </div>
                <div class="txtMarquee-top" style="width: 100%;height: 85%">
                    <div class="hd">
                        <a class="next"></a>
                        <a class="prev"></a>
                    </div>
                    <div class="bd">
                        <ul class="infoList">
                            <li>0、中国打破了世界软件巨头规则中国打破了世界软件巨头规则中国打破了世界软件巨头规则中国打破了世界软件巨头规则中国打破了世界软件巨头规则</li>
                            <li>1、口语：会说中文就能说英语！</li>
                            <li>2、农场摘菜不如在线学外语好玩</li>
                            <li>3、数理化老师竟也看学习资料？</li>
                            <li>4、学英语送ipad2,45天突破听说</li>
                            <li>5、学外语，上北外！</li>
                            <li>6、那些无法理解的荒唐事</li>
                            <li>7、学英语送ipad2,45天突破听说</li>
                            <li>8、学外语，上北外！</li>
                            <li>9、那些无法理解的荒唐事</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="left-middle">
                <div class="content-title">
                    云存储
                </div>
                <div class="clearfix" style="width:100%;height: 85%;">
                    <div style="width: 50%; height: 100%; float: left;">
                        <div id="leftMiddle" style="width: 100%;height: 80%">
                        </div>
<!--                        <div class="note" style="margin-top: 5px;">-->
<!--                            <span id="cpu1" class="color1"><span class="circle">cpu(%)</span></span>-->
<!--                            <span id="cpu2" class="color2"><span class="circle">cpu(oc)</span></span>-->
<!--                        </div>-->
                    </div>
                    <div style="width: 50%; height: 100%; float: left;">
                        <div class="note">
                            <span id="yinpan1" class="color1"><span class="circle"></span>未使用:30GB</span>
                            <span id="yinpan2" class="color2"><span class="circle"></span>已使用:70GB</span>
                            <span id="yinpan3" >总容量:100GB</span>
                        </div>
                        <div id="leftMiddle1" style="width: 100%;height: 80%">
                        </div>
                        <div class="note" >
                            <span id="countyinpan" ></span>总硬盘:10</span>
                            <span id="jiedian" ></span>总节点:3</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="left-bottom">
                <div class="content-title">
                    摄像机
                </div>
                <div class="chart-note clearfix" style="height: 65%">
                    <div id="leftTop" style="width: 80%;">
                    </div>
                    <div class="leftTopnote" style="width: 20%;">
                        <p id="channelOnline"></p>
                        <p id="channelOfOnline"></p>
                    </div>
                </div>
                <div class="note">
                    <span id="fix">固定摄像机:0</span>
                    <span id="fix1">云台摄像机:0</span>
                    <span id="fix2">固定IP摄像机:0</span>
                    <span id="fix3">云台IP摄像机:0</span>
                    <span>其他:0</span>
                </div>
            </div>
        </div>
        <div class="content-middle">
            <div class="middle-top">
                <div class="content-title">
                    北京南站铁路状况
                </div>
                <div id="middleTop" style="width: 100%;height: 85%;">
                </div>
            </div>
            <div class="middle-bottom">
                <div class="content-title">
                    节点运行状态
                </div>
          
                <div class="chart-note clearfix" style="height: 72%">
                    <div id="middleBottom" style="width: 100%;height: 85%">
                    </div>
    
                    <div class="leftTopnote" style="width: 20%;">
                        <p id="online"></p>
                        <p id="offline"></p>
                    </div>
                </div>
                
                <div class="note">
                    <span id="cms">cms节点:0</span>
                    <span id="dms">dms节点:0</span>
                    <span id="mss">mss节点:0</span>
                    <span>其他服务器:0</span>
                </div>
            </div>
        </div>
        <div class="content content-right">
            <div class="right-top">
                <div class="content-title">
                    录像诊断
                </div>
                <div id="rightTop" style="width: 100%;height: 85%">
                </div>
            </div>
            <!--        <div class="right-middle">-->
            <!--            <div class="content-title">-->
            <!--                网络异常统计-->
            <!--            </div>-->
            <!--&lt;!&ndash;            <div id="rightMiddle" style="width: 100%;height: 85%">&ndash;&gt;-->
            <!--&lt;!&ndash;            </div>&ndash;&gt;-->
            <!--        </div>-->
            <div class="right-bottom" style="height: 64%">
                <div class="content-title">
                    自定义微服务统计
                </div>
                <div class="chart-note clearfix" style="height: 72%">
                    <div id="rightBottom" style="width: 80%;">
                    </div>
                    <div class="leftTopnote" style="width: 20%;">
                        <p id="online1"></p>
                        <p id="offline1"></p>
                    </div>
                </div>
                <div class="note">
                    <span id="cms_server">cms服务:0</span>
                    <span id="dms_server">dms服务:0</span>
                    <span id="mss_server">mss服务:0</span>
                    <span>其他服务:0</span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>