<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta name="browsermode" content="application">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>登录</title>
    <meta name="keywords" content="登录" />
    <meta name="description" content="登录" />
    <link rel="stylesheet" type="text/css" href="../static/js/lib/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script type="text/javascript" src="../static/js/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/lib/layer/layer.js"></script>
    <script type="text/javascript" src="../static/js/lib/layui/layui.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.base64.js"></script>
    <script type="text/javascript" src="../static/js/ajax.js"></script>
    <script type="text/javascript" src="../static/js/login-guilinyangshuo.js"></script>
</head>

<body class="body-login">
<div class="login-wrap">
    <div class="login-box">
        <div class="logo-tit">
            <span class="province"></span>铁路综合监控中心
        </div>
        <div class="login-con">
            <div class="login-con-1"></div>
            <div class="login-con-2"></div>
            <div class="form-box">
                <p class="login-title">登 录</p>
                <div class="login-form">
                    <div class="login-row">
                        <div class="form-label">
                            <div class="login-row-ico">
                                <i></i>
                            </div>
                            <div class="login-row-input">
                                <input type="text" name="username" placeholder="请输入用户名" id="user">
                            </div>
                        </div>
                    </div>
                    <div class="login-row">
                        <div class="form-label">
                            <div class="login-row-ico">
                                <i class="pwd-ico"></i>
                            </div>
                            <div class="login-row-input">
                                <input type="password" name="password" placeholder="请输入密码" id="pwd">
                            </div>
                        </div>
                    </div>
                    <div class="login-remeber">
                        <label class="remeber">
                            <input type="checkbox" name="remeber">记住密码
                        </label>
                        <label class="automatic">
                            <input type="hidden" class="autoinp" value="">
                            <input type="checkbox" name="auto">自动登录
                        </label>
                    </div>
                    <div class="login-row login-btn-box">
                        <div class="login-btn">登 录</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {
        var $loginWrap = $(".login-wrap"),
            h = 620,
            $window = $(window),
            before = 0;

        function resize() {
            var now = +new Date;
            if (now - before < 50) {
                before = now;
                return false;
            }
            var H = $window.height();
            if (H > h) {
                $loginWrap.css({
                    "margin-top": parseInt(H - h) / 2
                })
            }
        }
        resize();
        $window.on("resize", resize);
    });
</script>
</body>

</html>
