尊敬的{username}（先生/女士）：
<br>您提交的密码重置申请已生效，用户名：{username}，密码：{password}，请使用该账号密码登录{global_app_name}。
<br>-----------------------------------------------------------------
<br>此信由{global_app_name}发出，系统不接收回信，请勿直接回复。