<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.DbversionMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.Dbversion">
    <!--@mbg.generated-->
    <result column="mandatory" jdbcType="INTEGER" property="mandatory" />
    <result column="optional" jdbcType="INTEGER" property="optional" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.domain.Dbversion">
    <!--@mbg.generated-->
    insert into dbversion (mandatory, optional)
    values (#{mandatory,jdbcType=INTEGER}, #{optional,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.Dbversion">
    <!--@mbg.generated-->
    insert into dbversion
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mandatory != null">
        mandatory,
      </if>
      <if test="optional != null">
        optional,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mandatory != null">
        #{mandatory,jdbcType=INTEGER},
      </if>
      <if test="optional != null">
        #{optional,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>