<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.GroupsMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.Groups">
    <!--@mbg.generated-->
    <id column="groupid" jdbcType="BIGINT" property="groupid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="internal" jdbcType="INTEGER" property="internal" />
    <result column="flags" jdbcType="INTEGER" property="flags" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    groupid, `name`, internal, flags
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from groups
    where groupid = #{groupid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from groups
    where groupid = #{groupid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.domain.Groups">
    <!--@mbg.generated-->
    insert into groups (groupid, `name`, internal, 
      flags)
    values (#{groupid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{internal,jdbcType=INTEGER}, 
      #{flags,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.Groups">
    <!--@mbg.generated-->
    insert into groups
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        groupid,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="internal != null">
        internal,
      </if>
      <if test="flags != null">
        flags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="groupid != null">
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="internal != null">
        #{internal,jdbcType=INTEGER},
      </if>
      <if test="flags != null">
        #{flags,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.domain.Groups">
    <!--@mbg.generated-->
    update groups
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="internal != null">
        internal = #{internal,jdbcType=INTEGER},
      </if>
      <if test="flags != null">
        flags = #{flags,jdbcType=INTEGER},
      </if>
    </set>
    where groupid = #{groupid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.domain.Groups">
    <!--@mbg.generated-->
    update groups
    set `name` = #{name,jdbcType=VARCHAR},
      internal = #{internal,jdbcType=INTEGER},
      flags = #{flags,jdbcType=INTEGER}
    where groupid = #{groupid,jdbcType=BIGINT}
  </update>
</mapper>