<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.HistoryMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.History">
    <!--@mbg.generated-->
    <result column="itemid" jdbcType="BIGINT" property="itemid" />
    <result column="clock" jdbcType="INTEGER" property="clock" />
    <result column="value" jdbcType="DOUBLE" property="value" />
    <result column="ns" jdbcType="INTEGER" property="ns" />
  </resultMap>
  <insert id="insert" parameterType="com.xq.domain.History">
    <!--@mbg.generated-->
    insert into history (itemid, clock, `value`, 
      ns)
    values (#{itemid,jdbcType=BIGINT}, #{clock,jdbcType=INTEGER}, #{value,jdbcType=DOUBLE}, 
      #{ns,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.History">
    <!--@mbg.generated-->
    insert into history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        itemid,
      </if>
      <if test="clock != null">
        clock,
      </if>
      <if test="value != null">
        `value`,
      </if>
      <if test="ns != null">
        ns,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemid != null">
        #{itemid,jdbcType=BIGINT},
      </if>
      <if test="clock != null">
        #{clock,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=DOUBLE},
      </if>
      <if test="ns != null">
        #{ns,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>