<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.HostsTemplatesMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.HostsTemplates">
    <!--@mbg.generated-->
    <id column="hosttemplateid" jdbcType="BIGINT" property="hosttemplateid" />
    <result column="hostid" jdbcType="BIGINT" property="hostid" />
    <result column="templateid" jdbcType="BIGINT" property="templateid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    hosttemplateid, hostid, templateid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from hosts_templates
    where hosttemplateid = #{hosttemplateid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from hosts_templates
    where hosttemplateid = #{hosttemplateid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.domain.HostsTemplates">
    <!--@mbg.generated-->
    insert into hosts_templates (hosttemplateid, hostid, templateid
      )
    values (#{hosttemplateid,jdbcType=BIGINT}, #{hostid,jdbcType=BIGINT}, #{templateid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.HostsTemplates">
    <!--@mbg.generated-->
    insert into hosts_templates
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hosttemplateid != null">
        hosttemplateid,
      </if>
      <if test="hostid != null">
        hostid,
      </if>
      <if test="templateid != null">
        templateid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hosttemplateid != null">
        #{hosttemplateid,jdbcType=BIGINT},
      </if>
      <if test="hostid != null">
        #{hostid,jdbcType=BIGINT},
      </if>
      <if test="templateid != null">
        #{templateid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.domain.HostsTemplates">
    <!--@mbg.generated-->
    update hosts_templates
    <set>
      <if test="hostid != null">
        hostid = #{hostid,jdbcType=BIGINT},
      </if>
      <if test="templateid != null">
        templateid = #{templateid,jdbcType=BIGINT},
      </if>
    </set>
    where hosttemplateid = #{hosttemplateid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.domain.HostsTemplates">
    <!--@mbg.generated-->
    update hosts_templates
    set hostid = #{hostid,jdbcType=BIGINT},
      templateid = #{templateid,jdbcType=BIGINT}
    where hosttemplateid = #{hosttemplateid,jdbcType=BIGINT}
  </update>
</mapper>