<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.MaintenancesHostsMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.MaintenancesHosts">
    <!--@mbg.generated-->
    <id column="maintenance_hostid" jdbcType="BIGINT" property="maintenanceHostid" />
    <result column="maintenanceid" jdbcType="BIGINT" property="maintenanceid" />
    <result column="hostid" jdbcType="BIGINT" property="hostid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    maintenance_hostid, maintenanceid, hostid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from maintenances_hosts
    where maintenance_hostid = #{maintenanceHostid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from maintenances_hosts
    where maintenance_hostid = #{maintenanceHostid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.domain.MaintenancesHosts">
    <!--@mbg.generated-->
    insert into maintenances_hosts (maintenance_hostid, maintenanceid, hostid
      )
    values (#{maintenanceHostid,jdbcType=BIGINT}, #{maintenanceid,jdbcType=BIGINT}, #{hostid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.MaintenancesHosts">
    <!--@mbg.generated-->
    insert into maintenances_hosts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="maintenanceHostid != null">
        maintenance_hostid,
      </if>
      <if test="maintenanceid != null">
        maintenanceid,
      </if>
      <if test="hostid != null">
        hostid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="maintenanceHostid != null">
        #{maintenanceHostid,jdbcType=BIGINT},
      </if>
      <if test="maintenanceid != null">
        #{maintenanceid,jdbcType=BIGINT},
      </if>
      <if test="hostid != null">
        #{hostid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.domain.MaintenancesHosts">
    <!--@mbg.generated-->
    update maintenances_hosts
    <set>
      <if test="maintenanceid != null">
        maintenanceid = #{maintenanceid,jdbcType=BIGINT},
      </if>
      <if test="hostid != null">
        hostid = #{hostid,jdbcType=BIGINT},
      </if>
    </set>
    where maintenance_hostid = #{maintenanceHostid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.domain.MaintenancesHosts">
    <!--@mbg.generated-->
    update maintenances_hosts
    set maintenanceid = #{maintenanceid,jdbcType=BIGINT},
      hostid = #{hostid,jdbcType=BIGINT}
    where maintenance_hostid = #{maintenanceHostid,jdbcType=BIGINT}
  </update>
</mapper>