<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xq.mapper.SysmapUrlMapper">
  <resultMap id="BaseResultMap" type="com.xq.domain.SysmapUrl">
    <!--@mbg.generated-->
    <id column="sysmapurlid" jdbcType="BIGINT" property="sysmapurlid" />
    <result column="sysmapid" jdbcType="BIGINT" property="sysmapid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="elementtype" jdbcType="INTEGER" property="elementtype" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    sysmapurlid, sysmapid, `name`, url, elementtype
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sysmap_url
    where sysmapurlid = #{sysmapurlid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from sysmap_url
    where sysmapurlid = #{sysmapurlid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xq.domain.SysmapUrl">
    <!--@mbg.generated-->
    insert into sysmap_url (sysmapurlid, sysmapid, `name`, 
      url, elementtype)
    values (#{sysmapurlid,jdbcType=BIGINT}, #{sysmapid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{elementtype,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xq.domain.SysmapUrl">
    <!--@mbg.generated-->
    insert into sysmap_url
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysmapurlid != null">
        sysmapurlid,
      </if>
      <if test="sysmapid != null">
        sysmapid,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="elementtype != null">
        elementtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysmapurlid != null">
        #{sysmapurlid,jdbcType=BIGINT},
      </if>
      <if test="sysmapid != null">
        #{sysmapid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="elementtype != null">
        #{elementtype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xq.domain.SysmapUrl">
    <!--@mbg.generated-->
    update sysmap_url
    <set>
      <if test="sysmapid != null">
        sysmapid = #{sysmapid,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="elementtype != null">
        elementtype = #{elementtype,jdbcType=INTEGER},
      </if>
    </set>
    where sysmapurlid = #{sysmapurlid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xq.domain.SysmapUrl">
    <!--@mbg.generated-->
    update sysmap_url
    set sysmapid = #{sysmapid,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      elementtype = #{elementtype,jdbcType=INTEGER}
    where sysmapurlid = #{sysmapurlid,jdbcType=BIGINT}
  </update>
</mapper>