<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingsoft.nvssauthor.mapper.TurnChannelGroupMapper">
  <resultMap id="BaseResultMap" type="com.mingsoft.nvssauthor.domain.TurnChannelGroup">
    <!--@mbg.generated-->
    <!--@Table turn_channel_group-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, config_info, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from turn_channel_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from turn_channel_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mingsoft.nvssauthor.domain.TurnChannelGroup" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into turn_channel_group (config_info, description)
    values (#{configInfo,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mingsoft.nvssauthor.domain.TurnChannelGroup" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into turn_channel_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configInfo != null">
        config_info,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configInfo != null">
        #{configInfo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mingsoft.nvssauthor.domain.TurnChannelGroup">
    <!--@mbg.generated-->
    update turn_channel_group
    <set>
      <if test="configInfo != null">
        config_info = #{configInfo,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mingsoft.nvssauthor.domain.TurnChannelGroup">
    <!--@mbg.generated-->
    update turn_channel_group
    set config_info = #{configInfo,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>