/* index */
html,
body {
    height: 100%;
    background: #fff;
    min-width: 1280px;
}
.page-bar .page-bar-inner {
    height: 62px;
    background: #fff;
    border-bottom: 5px solid #379be9;
}

.page-user-info .page-user-text .IndexTit{
    position: relative;
    text-align: left;
    font-size: 20px;
    line-height: 62px;
    color: #000;
    padding: 0 0 0 50px;
}

.siteTimeP {
    margin-left: 20px;
    font-size: 15px;
}

.page-bar-right{
    width: 300px;
    height: 59px;
    position: absolute;
    top: 0;
    right: 0;
}

.indexLi {
    color: black;
    position: absolute;
    right: 20px;
    top: 15px;
}

.dropdown-menu li {
    text-align: center;
    line-height: 40px;
    color: #666;
}

.navdeploy{
    position: absolute;
    right: 40px;
    top: 22px;
}


.nav>li {
    position: relative;
    display: block;
}

.dropdown-menu {
    left: -55px;
}

.dropdown-menu li {
    font-size: 14px;
    cursor: pointer;
}
.dropdown-menu>li>a{
    line-height: 40px;
    padding: 0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu li:hover {
    background: #379be9;
    color: #fff;
}

.btn .caret{
    margin-left: 6px;
}


.deploys{
    width: 17px;
    height: 17px;
    background: url(../images/nav-ico.png) no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.deploy .dropdown-menu{
    left: auto;
    right: -10px;
}


.page-sidebar-wrap {
    width: 200px;
    padding-right: 10px;
    position: relative;
}

.page-sidebar-fixed .page-sidebar-wrap {
    position: fixed;
    left: 0;
    top: 65px;
    z-index: 777;
}

.page-sidebar {
    background-color: #dae1ea;
}

/* .page-sidebar > ul{
    padding-top: 10px;
} */
.page-sidebar > ul > li {
    padding: 0 20px;
    line-height: 50px;
    position: relative;
    border-bottom: 1px solid #abafba;
    border-top: 1px solid #fff;
}

.page-sidebar > ul > li:hover,
.page-sidebar > ul > li.current{
    background: url(../images/sidebar-h.png) no-repeat top center;
}
.page-sidebar > ul > li:hover a,
.page-sidebar > ul > li.current > a {
    color:#fff;
}

.page-sidebar > ul > li > a {
    color: #666;
    display: block;
    height: 50px;
    text-align: center;
    
}


.page-content-wrap {
    margin-left: 200px;
}

.page-bar {
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    color: #999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.page-content {
    padding-top: 65px;
}

.page-iframe {
    width: 100%;
}


input::-moz-placeholder {
    color: #CDC9C9;
}
input::-webkit-input-placeholder {
    color: #CDC9C9;
}